.card-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: #ffce73;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  img {
    width: 10%;
    display: flex;
  }

  h1 {
    min-width: 80%;
    font-size: medium;
  }